<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:fragment="head(pageTitle)">
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <title th:text="${pageTitle} + ' | Hotel Management'">Hotel Management</title>
    <link rel="stylesheet" th:href="@{/css/vendor/flatpickr-4.6.13.min.css}" />
    <link rel="stylesheet" th:href="@{/css/common/layout.css}" />
    <script defer th:src="@{/js/vendor/flatpickr-4.6.13.min.js}"></script>
    <script defer th:src="@{/js/common/date-picker.js}"></script>
    <script defer th:src="@{/js/common/confirmation.js}"></script>
</head>
</html>
